[submodule "Projeto-Integrador-TecSUS-Database"]
	path = Projeto-Integrador-TecSUS-Database
	url = https://github.com/quarks-team/Projeto-Integrador-TecSUS-Database.git
[submodule "projeto-integrador-tecsus-backend"]
	path = projeto-integrador-tecsus-backend
	url = https://github.com/quarks-team/projeto-integrador-tecsus-backend.git
