[submodule "Projeto-Integrador-TecSUS-Database"]
	path = Projeto-Integrador-TecSUS-Database
	url = https://github.com/quarks-team/Projeto-Integrador-TecSUS-Database.git
[submodule "Projeto-Integrador-TecSUS-Backend"]
	path = Projeto-Integrador-TecSUS-Backend
	url = https://github.com/quarks-team/Projeto-Integrador-TecSUS-Backend.git
